<div
  class="table-responsive"
  *ngIf="basketService.basketSource$ | async as basket"
>
  <table class="table bg-light">
    <thead class="text-uppercase">
      <tr>
        <th><div class="py-2">Product</div></th>
        <th><div class="py-2">Price</div></th>
        <th><div class="py-2">Quantity</div></th>
        <th><div class="py-2">Total</div></th>
        <th><div class="py-2" *ngIf="isBasket">Remove</div></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basket.items">
        <th>
          <div class="p-2 d-inline-block">
            <img
              src="{{ item.pictureUrl }}"
              alt="{{ item.productName }}"
              class="img-fluid d-inline-block"
              style="width: 40px; height: 50px"
            />
          </div>
          <div class="ms-3 d-inline-block align-middle">
            <h5 class="mb-0">
              <a
                routerLink="/Shop/{{ item.id }}"
                class="text-dark text-decoration-none fw-bold"
              >
                {{ item.productName }}
              </a>
            </h5>
            <span class="text-muted fw-normal fst-italic">
              Type: {{ item.type }}
            </span>
          </div>
        </th>
        <td class="align-middle">
          <strong>{{ item.price | currency }}</strong>
        </td>
        <td class="align-middle">
          <div
            class="d-flex align-items-center"
            [ngClass]="!isBasket ? 'ms-1' : ''"
          >
            <i
              *ngIf="isBasket"
              class="fa fa-minus-circle text-warning me-2"
              style="cursor: pointer; font-size: 2em"
              (click)="onRemoveBasketItem(item.id, 1)"
            ></i>
            <strong style="font-size: 1.3em">{{ item.quantity }}</strong>
            <i
              *ngIf="isBasket"
              class="fa fa-plus-circle text-warning mx-2"
              style="cursor: pointer; font-size: 2em"
              (click)="onAddBasketItem(item)"
            ></i>
          </div>
        </td>
        <td class="align-middle">
          <strong>{{ item.price * item.quantity | currency }}</strong>
        </td>
        <td class="align-middle" *ngIf="isBasket">
          <a
            class="text-danger"
            (click)="onRemoveBasketItem(item.id, item.quantity)"
            ><i class="fa fa-trash" style="font-size: 2em; cursor: pointer"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
