<div class="container mt-5">
  <button class="btn btn-outline-primary me-3" (click)="get500error()">
    Test Error 500
  </button>
  <button class="btn btn-outline-primary me-3" (click)="get404error()">
    Test Error 404
  </button>
  <button class="btn btn-outline-primary me-3" (click)="get400error()">
    Test Error 400
  </button>
  <button
    class="btn btn-outline-primary me-3"
    (click)="get400validationerror()"
  >
    Test Error 400 Validation
  </button>
  <div class="row mt-5" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">{{ error }}</li>
    </ul>
  </div>
</div>
