<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <h1 class="mb-5 text-center">Sign Up</h1>
        <app-text-input
          [label]="'Display Name'"
          [type]="'text'"
          [formControl]="registerForm.controls['displayName']"
        ></app-text-input>
        <app-text-input
          [label]="'Email Address'"
          [type]="'email'"
          [formControl]="registerForm.controls['email']"
        ></app-text-input>
        <app-text-input
          [label]="'Password'"
          [type]="'password'"
          [formControl]="registerForm.controls['password']"
        ></app-text-input>

        <div class="d-grid">
          <button
            class="btn btn-lg btn-primary mt-4"
            type="submit"
            [disabled]="registerForm.invalid"
          >
            Sign Up
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
